{{ define "main" }}
        <!-- hero -->
        <div id="hero">
            <div class="container">
                <div class="row">
                    <div class="twelve columns" >
                        <div style="height:300px;text-align:center;">
                            &nbsp;
                            <h1 style="margin-top:50px;font-weight:bold;">Bill Johnston Painting</h1>
                            <h4 style="font-weight:bold;">Site under heavy development</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{{ end }}