{{ define "main" }}
        <!-- hero -->
        <div id="hero">
            <div class="container">
                <div class="row">
                    <div class="twelve columns" >
                        <div style="height:400px;text-align:center;">
                            &nbsp;
                            <h1 style="margin-top:50px;font-weight:bold;">Bill Johnston Painting</h1>
                            <h4 style="font-weight:bold;">Site under heavy development</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="twelve columns" >
                  <div style="height:150px;text-align:center;">
                      <h2 style="margin-top:5px;font-weight:bold;">Get a FREE estimate today</h2>
                      <a class="button button-primary" href="/contact">Contact Us</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="twelve columns" >
                  <div style="text-align:center;">
                      <h4 style="margin-top:5px;font-weight:bold;">100% Customer Satisfaction Guaranteed</h4>
                  </div>
                </div>
            </div>
        </div>
{{ end }}