{{ define "main" }}
        <div id="hero">
            <div class="container">
                <div class="row">
                    <div class="twelve columns" >
                        <img class="u-max-full-width" alt="Interior photo" src="/img/FU/Exterior-paint-white.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="container mobile-text">
          <h5>Dependable Professional Service</h5>
            <div class="row">
                <div class="one-half column">
                  <p> Bill Johnston is a professional and reliable painting company with over 20 years of experience in interior/exterior painting and restoration. We are ready to work on your home or business! Our staff is friendly, efficient and knowledgeable in all our services, please contact us for a consultation.</p>
                  <div class="center">
                    <a class="button button-primary" href="/services">Painting Services</a>
                  </div>
                </div>
                <div class="one-half column">
                  <img style="height:275px;" class="u-max-full-width" alt="Interior photo" src="/img/FU/interior-bedroom.jpg">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="twelve columns center" >
                    <!-- <h4>Your Satisfaction Guaranteed</h4> -->
                </div>
            </div>
        </div>
        <div class="container mobile-text">
          <h5>Exterior Restoration Services</h5>
            <div class="row">
                <div class="five columns">
                    <img style="height:275px" class="u-max-full-width" alt="Interior photo" src="/img/FU/exterior-blue.jpg">
                </div>
                <div class="one column">&nbsp;</div>
                <div class="six columns" >
                  <p>Bill Johnston has been doing restoration for over 20 years. We take great pride in providing numerous restoration services for Nebraska homeowners and businesses. If you are looking for quality work, please contact us!</p>
                  <div class="center">
                    <a class="button button-primary" href="/services/restoration">Exterior Restoration Services</a>
                  </div>
                </div>
            </div>
        </div>

{{ end }}
