:root {
    --menubg: #154280;
    --menuhover: #222;
    --dark: #B38148;
    --medium: #FFC88A;
    --light: #FFF7F0;
    --accent-dark: #0C3A7B;
    --accent-light: #FFF7F0;
}
body {
    background-color: var(--light);
}
#logo {
    background-image: url('/images/logo.png');
    height:100px;
    width:200px;
    background-size:200px;
    background-repeat:no-repeat;
}
#header, #hero {
    background-color: var(--accent-dark);
}
#hero, #branding {
    color: var(--light);
}
#header-right {
    height:150px;
    padding-left:20px;
    position:relative;
}
#branding {
    text-align:right;
    color: var(--light);
}
.highlight {
    color: var(--accent-dark);
    font-weight:bold;
    margin-top:10px;
}
#footer {
    margin-top:20px;
    padding-bottom:20px;
    background-color: var(--accent-dark);
    color: var(--light);
}