<div id="area" class="services-section">
    <div class="container">
        <h2 class="section-title">Areas We Serve</h2>
        <p class="section-intro">Proudly serving Lincoln, Omaha, and surrounding communities within an approximate 75-mile radius.</p>
        <div class="service-area-map">
            <a href="/img/stock/map.png" title="Map of Lincoln/Omaha region" class="map-link">
                <img src="/img/stock/map.png" alt="Map of Lincoln/Omaha region" title="Map of Lincoln/Omaha region" class="img-fluid" />
            </a>
        </div>
    </div>
</div>