        <div id="footer">
            <div class="container mobile-text">
                <div class="row">
                    <div class="four columns">
                      <h4>About Us</h4>
                        <p>Bill Johnston Painting is a family owned business that serves residents and businesses in the greater Nebraska area. <br>Call us for a FREE estimate or quote today!</p>
                        <a class="button button-primary" href="/quote">Request a Quote</a>
                    </div>
                    <div class="four columns">
                        <h4>Contact Us</h4>
                        <h6><strong>Phone: </strong> <i class="fas fa-phone-alt"></i> <a href="tel:402-416-6092"> 402-416-6092</a></h6>
                        <h6><strong>Email:  </strong> <i class="fas fa-envelope"></i> <a href="mailto:Bill@bjohnstonpainting.com"> Bill@bjohnstonpainting.com</a></h6>
                    </div>
                    <div class="four columns map">
                        <h4 style="text-align:center">Greater Lincoln Area</h4>
                        <a href="/img/stock/map.png" title="Map of Lincoln/Omaha region">
                            <img style="width:90%;" src="/img/stock/map.png" alt="Map of Lincoln/Omaha region" title="Map of Lincoln/Omaha region" />
                        </a>
                    </div>
                </div>
            </div>



<script>
    new SimpleLightbox({elements: '.map a'});
    new SimpleLightbox({elements: '.gallery a'});
</script>
