        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="four columns">
                        Bill Johnston Painting is a locally owned business that serves residents and businesses in the greater Nebraska area. At Bill Johnston Painting we work to your satisfaction before a job is complete. That's why you can rest assured that before you pay, the work is completed to your standards. Call us for a FREE estimate or quote today!
                    </div>
                    <div class="four columns gallery">
                        <a href="/img/map.png">
                            <img style="width:100%;" src="/img/map.png" alt="Map of Lincoln/Omaha region" />
                        </a>
                    </div>
                    <div class="four columns">
                        Ph: XXX-XXX-XXXX
                        Email: Bill@Bjohnstonpainting.com
                    </div>
                </div>
            </div>
        </div>
<!-- simpleLightbox http://dbrekalo.github.io/simpleLightbox/-->
<link rel="stylesheet" href="/css/simpleLightbox.css">
<script src="/js/simpleLightbox.js"></script>
<script>
    new SimpleLightbox({elements: '.gallery a'});
</script>