        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="one columns">&nbsp;</div>
                    <div class="three columns">
                        <div id="logo">Logo</div>
                    </div>
                    <div id="header-right" class="seven columns">
                        <div id="branding">
                            Bill Johnston is dedicated to quality painting services in Lincoln, NE
                        </div>
    {{ partial "menu.html" . }}
                    </div>
                    <div class="one columns">&nbsp;</div>
                </div>
            </div>
        </div>