        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="two columns">
                        <a href="/">
                            <div id="logo"></div>
                        </a>
                    </div>
                    <div class="two columns">&nbsp;</div>
                    <div id="header-right" class="eight columns branding">
                        <h6><i class="fas fa-phone-alt"></i>  <a href="tel:402-416-6092">402-416-6092</a></h6>
                        <h6><i class="fas fa-envelope"></i>  <a href="mailto:Bill@bjohnstonpainting.com">Bill@bjohnstonpainting.com</a></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
{{ partial "menu.html" . }}
                    </div>
                </div>
            </div>
        </div>
