        <div id="header">
            <div class="container">
                <div class="header-top">
                    <div class="logo-wrapper">
                            <div id="logo"></div>
                    </div>
                    <div class="contact-info">
                        <div class="contact-details">
                            <h6><i class="fas fa-phone-alt"></i><a href="tel:402-416-6092">402-416-6092</a></h6>
                            <h6><i class="fas fa-envelope"></i><a href="mailto:johnstonpaintsnebraska@gmail.com">johnstonPaintsNebraska@gmail.com</a></h6>
                        </div>
                    </div>
                </div>
                <nav class="main-nav">
                    {{ partial "menu.html" . }}
                </nav>
            </div>
        </div>
