    <head>
        <meta charset="utf-8">
        <title>{{ .Title }}</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/skeleton.css">
        <link rel="stylesheet" href="/css/navigation.css">
        <link rel="stylesheet" href="/css/main.css">
        <!-- simpleLightbox http://dbrekalo.github.io/simpleLightbox/ -->
        <link rel="stylesheet" href="/css/simpleLightbox.css">
        <script src="https://kit.fontawesome.com/ee93082675.js" crossorigin="anonymous"></script>
        <!-- JS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <script src="/js/simpleLightbox.js"></script>
        <script src="/js/main.js"></script>
        <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
        
        <!-- Structured Data -->
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "HomeAndConstructionBusiness",
            "name": "{{ .Site.Title }}",
            "description": "{{ .Site.Params.description }}",
            "@id": "{{ .Site.BaseURL }}",
            "url": "{{ .Site.BaseURL }}",
            "telephone": "{{ .Site.Params.phone }}",
            "areaServed": {
                "@type": "City",
                "name": "Lincoln",
                "containedInPlace": {
                    "@type": "State",
                    "name": "Nebraska"
                }
            },
            "priceRange": "$$"
        }
        </script>
    </head>
