            <div id="testimonials">
            <div class="container mobile-text">
                <div class="row center highlight">
                    <h4>Customer Testimonials</h4>
                </div>
                <div class="row">
                    <div class="one-third column">
                        <blockquote cite="http://">
                          "We reached out to Bill Johnston Painting to paint the interior and exterior of 18 new construction townhomes. Bill was very easy to work with and did a great job communicating with us about the status of the project. His price was fair and the quality lived up to our expectations. I will not hesitate to call him when more projects come up."
                          <br>
                          <h6><i class="far fa-user-circle client-icon"></i> Joe Steinbach, <br><i class="far fa-building client-icon"></i> Ironwood Properties</h6>
                        </blockquote>
                    </div>
                    <div class="one-third column">
                        <blockquote>"Bill Johnston painting has completed several projects for us. He is very easy to work with, always pleasant and professional! He shows up on time and always on budget. The best thing I like is he knows his business and I don't have to explain what I want."
                          <br>
                          <h6><i class="far fa-user-circle client-icon"></i> Steve Kielian, <br><i class="fas fa-hard-hat client-icon"></i> Kielian Construction, Inc</h6>
                        </blockquote>
                    </div>
                    <div class="one-third column">
                        <blockquote>
                          "Bill is amazing at restoration and making a home look like new again.  He painted a large two story home that needed much extra attention.  It was a very big job.  He got it done in a timely manner and the price was right too.  I can't thank him enough for the wonderful job he did and everyone was very happy with the turnout.  I'd definitely refer him to clients, family and friends."
                          <br>
                          <h6><i class="far fa-user-circle client-icon"></i> Amy Waldman, <br><i class="fas fa-balance-scale-left client-icon"></i> Duane Hartman Investments</h6>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
