        <div id="testimonials">
            <div class="container">
                <div class="row">
                    <h3>Customer Testimonials</h3>
                </div>
                <div class="row">
                    <div class="one-third column">
                        <h4>Bob Thompson</h4>
                        <p>Et eius summo platonem vix, nam movet soluta indoctum ei. Ne mea agam oportere efficiantur, eum illum quidam phaedrum in, eum eu solum velit. </p>
                    </div>
                    <div class="one-third column">
                        <h4>Mary Smith</h4>
                        <p>No nisl incorrupte nam, elit omnes cum et. Vis cibo solum mediocrem cu, in nec illud delicata torquatos, eruditi postulant vel eu.</p>
                    </div>
                    <div class="one-third column">
                        <h4>George Harrison</h4>
                        <p>Eu liber exerci atomorum eos, ea eum dolorem scriptorem. His at mucius petentium constituto, alia alterum indoctum vis at. Sit ad purto latine.</p>
                    </div>
                </div>
            </div>
        </div>
<script>
    new SimpleLightbox({elements: '.map a'});
    new SimpleLightbox({elements: '.gallery a'});
</script>