<div id="testimonials">
    <div class="container">
        <div style="text-align:center;font-weight:bold;margin:20px" class="row">
            <h5 style="text-align:center;font-weight:bold;margin:25px">Remote or onsite consultation and detailed proposal that meets your needs!</h5>
            <a class="button button-primary" href="/quote">Get a Quote Today!</a>
        </div>
    </div>
</div>

        <div id="testimonials">
            <div class="container">
                <div class="row">
                    <h4 style="text-align:center;font-weight:bold;margin:25px">Customer Testimonials</h4>
                </div>
                <div style="margin-bottom:25px" class="row">
                    <div style="text-align:center" class="one-third column">
                        <p>Et eius summo platonem vix, nam movet soluta indoctum ei. Ne mea agam oportere efficiantur, eum illum quidam phaedrum in, eum eu solum velit. </p>
                        <h4>-Bob Thompson</h4>
                    </div>
                    <div style="text-align:center" class="one-third column">
                        <p>No nisl incorrupte nam, elit omnes cum et. Vis cibo solum mediocrem cu, in nec illud delicata torquatos, eruditi postulant vel eu.</p>
                        <h4>-Mary Smith</h4>
                    </div>
                    <div style="text-align:center" class="one-third column">
                        <p>Eu liber exerci atomorum eos, ea eum dolorem scriptorem. His at mucius petentium constituto, alia alterum indoctum vis at. Sit ad purto latine.</p>
                        <h4>-George Harrison</h4>
                    </div>
                </div>
            </div>
        </div>
